{
  "swagger": "2.0",
  "info": {
    "description":
      "Sample data archived and fetched using the NBA.com's JSON APIs",
    "version": "1.0.0",
    "title": "NBA Fetch API",
    "contact": {
      "email": "lokesh.slg06@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "nbaproject.lokesh.co/",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "players",
      "description": "Everything about your Players"
    },
    {
      "name": "feed",
      "description": "Daily home feed"
    },
    {
      "name": "scoreboard",
      "description": "Scoreboard Data"
    },
    {
      "name": "standings",
      "description": "NBA Standings Data"
    },
    {
      "name": "today",
      "description": "Today's links' data dump"
    }
  ],
  "schemes": ["http"],
  "paths": {
    "/players": {
      "get": {
        "tags": ["players"],
        "summary": "Get all player data",
        "description": "",
        "operationId": "getPlayersData",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/players/landing": {
      "get": {
        "tags": ["feed"],
        "summary": "Get all landing page player data",
        "description": "",
        "operationId": "getPlayersDataLanding",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/feed": {
      "get": {
        "tags": ["feed"],
        "summary": "Get feed data",
        "description": "Returns a map of feed type to data",
        "operationId": "getFeed",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/scoreboard": {
      "get": {
        "tags": ["scoreboard"],
        "summary": "Get scoreboard data",
        "description": "Returns a map of teams to score",
        "operationId": "getScoreboard",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/standings/conf": {
      "get": {
        "tags": ["standings"],
        "summary": "Get standing data on the basis of conference",
        "description": "Returns a map of standings to teams",
        "operationId": "getStandingsConf",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/standings/div": {
      "get": {
        "tags": ["standings"],
        "summary": "Get standing data on the basis of division",
        "description": "Returns a map of standings to teams",
        "operationId": "getStandingsDiv",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/today": {
      "get": {
        "tags": ["today"],
        "summary": "Get today's link dump",
        "description": "Returns a map of link type to link format",
        "operationId": "getToday",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    }
  }
}
