@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
body {
  background: transparent !important;
  overflow-x: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homeScreen{
  min-height: 100vh;
}

.logo > img{
  width: auto;
  height: 64px;
  padding: 5px;
}

.logo.ant-menu-item-selected, .logo.ant-menu-item-active{
  background-color: transparent!important;
}

.nav-menu { 
  line-height: 74px;
}

.main-layout .ant-layout-header {
  height: 74px;
  line-height: 74px;
}

.ant-menu-item-selected , .ant-menu-item-active {
  background-color: transparent!important;
  text-decoration: #ffffff underline;
}

.ant-menu-item {
  font-size: 18px; 
  font-weight: 500;
}

.main-layout{
  min-height: calc(100vh - 74px);
  background-color: transparent;
}

.main-layout.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-hero {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.inner-hero-holder{
  padding: 20px 40px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: white;
}

.card-grid-custom{
  border: 0!important;
  border-color: transparent;
}

.team-logo{
  height: 120px;
}

.card-row-headers-region{
  display: flex;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.vertical-align{
  height: 120px;
  font-size: 3.5em;
}

.timing{
  text-align: left;
  font-size: 18px;
  padding: 5px 20px;
  margin-bottom: 0;
}

.venue{
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 200;
}

.standings{
  padding: 20px 40px;
}

.scoreboard-home .ant-card.ant-card-contain-grid {
  border: 0!important;
}

.scoreboard-home .ant-card.ant-card-contain-grid .ant-card-head {
  border: 0!important;
}

.header-row-standings {
  text-align: center;
  font-size: 28px;
  margin: 20px;
}

.strong-text{
  font-weight: 600;
}

.slick-prev:before, .slick-next:before {
  color:#000000!important;
  font-size: 30px;
}

.standings-main{
  padding: 20px 4em;
}

.slide-standings{
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.slide-standings-item{
  display: flex;
  flex-direction: column;
}

.standings-teamTag{
  width: 10em!important;
  height: 10em!important;
}

.slick-disabled {
  opacity: 0;
}

.meta{
  text-align: center;
}

.standings-loading{
  min-height: 70vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.large-avatar-teamPage{
  width: 100%;
  height:100%;
}

.avatar-div{
  padding: 20px;
}

.teams-main-content{
  padding: 20px 5em;
}